<div class="card">
    <div class="card-body">
        <div class="form-group">
            <label for="empName">Employee Name</label>
            <input type="text" #empName class="form-control">
        </div>
         <div class="form-group">
            <label for="empName">Employee Salary</label>
            <input type="text"  #empSalary class="form-control">
        </div>
        <div class="form-group">
            <label for="isActive">Is Active</label>
            <select  id="isActive" #isActive class="form-control">
                <option value="true">Yes</option>
                <option value="false">no</option>
            </select>
        </div>
        <button *ngIf="!isInEditmode" class="btn btn-block btn-primary" (click)="onAddEmployee()">Add Employee</button>
        <button *ngIf="isInEditmode" class="btn btn-block btn-info" (click)="onUpdateEmployee()">Update Employee</button>
    </div>
</div>